// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {}

  @media (max-width: $breakpoint992) {}

  @media (max-width: $breakpoint768) {}

  @media (max-width: $breakpoint480) {}
}

html {
  scroll-behavior: smooth;
  background-color: var(--white-color);
  scrollbar-gutter: stable;
}

// Body Locked
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--primary-font);
  line-height: 100%;

  main {
    flex-grow: 1;
  }

  &.locked {
    overflow: hidden;
  }
}

.pages-main {
  padding-top: 100px;
}

.main__body.hero-nav-fixed .header {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.main__body.hero-nav-fixed .hero__inner {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.full-section {
  height: 100vh;

  // @media (max-width: $breakpoint1450) {
  //   height: 100%;
  // }
}


// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}