.mission-banner {
  background: linear-gradient(135deg, #ec840a 0%, #df2915 100%);

  // .mission-banner__inner

  &__inner {
    display: flex;
    align-items: center;
    column-gap: 114px;
    padding: 72px 0;

    @media (max-width: $breakpoint992) {
      padding: 44px 0;
      column-gap: 60px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      row-gap: 44px;
    }
  }

  // .mission-banner__logo

  &__logo {}

  // .mission-banner__logo-img

  &__logo-img {

    @media (max-width: $breakpoint992) {
      width: 276px;
      height: auto;
    }

    @media (max-width: $breakpoint768) {
      max-width: 276px;
      width: 100%;
    }
  }

  // .mission-banner__content

  &__content {}

  // .mission-banner__texts

  &__texts {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  // .mission-banner__text

  &__text {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 20px;
    color: var(--white-color);

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }
  }
}

.container {}